a {
  color: #000000;
}

p {
  font-family: 'Noticia Text', serif;
  font-size: 20px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 90px;
  display: flex;
}

h2 {
font-family: 'Roboto Slab', serif;
font-size: 19px;
font-weight: 100;
  padding-right:20px;
}

h3 {
font-family: 'Roboto Slab', serif;
font-size: 14px;
font-weight: 300;
margin: 15px;
}

img.resize {
  width:auto;
  height:350px;
  margin: -40px;
  margin-top: -150px;
  display: flex;
  position: relative;
  justify-content:flex-start;
  align-items:flex-start;
  top: 10px;
  left: -250px;

}

img.resize2 {
  width:300px;
  height:auto;
}

img.resize3 {
  width:150px;
  height:auto;
  margin: 20px;
}

img.resize5 {
  width:auto;
  height:350px;
  margin: -40px;
  margin-top: -100px;
}

img.resize6 {
  width:auto;
  height:400px;
  margin: -40px;
  margin-top: -150px;
  display: flex;
  position: relative;
  justify-content:flex-start;
  align-items:flex-start;
  top: 10px;
  left: -340px;
}

.standardmargin {
  margin-left: 40px;
}

.container {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 80px;


width: 100%;
height:50 x;
background-color:
}

.first {
display: flex;
justify-content:flex-end;
margin: 50px;
  font-size: 14px;
}


.intro {
  display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 850px;
   margin-bottom: 300px;
   margin-left: 20px;
   margin-right: 20px;


}

.intro-inner {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.intro-text {
  width: 400px;
  margin: 20px;
  justify-content: flex-start;
}

.line {
  width: 7px;
height: 300px;
background: #404040;
}

.box {
  width: 100px;
height: 100px;
margin: 20px;
background: #a9a9ff;
}

.Senegal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 100px;
  bottom:400px;
}

.pictures {

  margin-top: 5px;
}

.mainhead {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 100px;
  padding-left: px;

  width: 85%;
  height: 40%;
  position: absolute;
  top: 200px;
  left: 250px;
  right:200px;
  background-color: #ecd9c6;
}

img.resize4 {
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;

  width: 700px;

}

.pic-background {
display: flex;
justify-content: flex-start;

  padding-bottom: 75px;
  width: 50%;
  height: 70%;
  position: relative;
  top: 10px;
  left: 180px;
  right:200px;
  background-color: #e6ccb3;
  margin-bottom: 200px;
  margin-top: 150px;
}

.pic-background-left {
display: flex;
justify-content: flex-end;


  padding-bottom: 75px;
  width: 50%;
  height: 170%;
  position: relative;
  top: 10px;
  left: 700px;
  right:400px;
  background-color: #e6ccb3;
  margin-bottom: 200px;
}

.footer {
  display: flex;
  justify-content: center;

  margin: 20px;
}

.work-container1 {
  display: flex;
  position:relative;

  left: 800px;
}

.work-container2 {
  display: flex;
  position:relative;

}

.work {
  font-size: 70px;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;


  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  float: right;
}
