a {
  color: #000000;
}

h2 {
font-family: 'Roboto Slab', serif;
font-size: 19px;
font-weight: 100;
  padding-right:20px;
}

h3 {
font-family: 'Roboto Slab', serif;
font-size: 14px;
font-weight: 300;
margin: 15px;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  font-weight: 100;
}


img.resize3 {
  width:230px;
  height:auto;
  margin: 15px;
}


.container {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;


width: 100%;
height:50 x;
background-color:
}

.first {
display: flex;
justify-content:flex-end;
margin: 50px;
  font-size: 14px;
}


.intro {
  display: flex;
   align-items: center;
   justify-content: space-around;

   margin-top: 600px;
   margin-bottom: 50px;

   margin-left: 20px;
   margin-right: 20px;


}

.intro-inner {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.intro-text {
  width: 400px;
  margin: 20px;
  justify-content: flex-start;
}

.line {
  width: 7px;
height: 280px;
background: #000000;
opacity: 0.8;
}


.Senegal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 100px;
  bottom:400px;
}

.pictures {
  margin-top: 5px;
}

.mainhead {
  display: flex;
  align-items:flex-end;
  justify-content: center;
  padding-bottom: 100px;
  padding-left: px;
  padding-right: 170px;

  width: 70%;
  height: 40%;
  position: absolute;
  top: 200px;
  left: 250px;
  right:0px;
  background-color: #ecd9c6;
}

img.resize4 {
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;
  position: relative;


  width: 700px;

  top: 10px;
  left: -20px;
}


.footer {
  display: flex;
  justify-content: center;

  margin: 20px;
}


.my-name {
  font-size: 150px;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  line-height: 95%;

  display: flex;
  position: relative;
  justify-content: flex-start;
  float: left;
  top: 15px;
}

.my-title {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 100;
    padding-right:20px;
    width: 500px;

    display: flex;
    position: relative;
    justify-content: flex-start;
    float: left;
    right: 150px;
    bottom: -20px;

}

.hello {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;

  margin-left: 35px;
}

.about-me {
  margin-left: 40px;
}

.fade
{
        opacity:1;
}
.fade:hover
{
        opacity:0.5;
}



@media (max-width: 400px) {
h2 {
font-size: 20px;
}

.Senegal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 100px;
  bottom:400px;
}

.mainhead {
  display: flex;
  align-items:center;
  justify-content: center;
  padding-bottom: 50px;
  padding-left: px;
  padding-right: 80px;

  width: 70%;
  height: 40%;
  position: absolute;
  top: 200px;
  left: 250px;
  right:0px;
  background-color: #ecd9c6;
}

.my-name {
  font-size: 75px;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  line-height: 95%;

  display: flex;
  position: relative;
  justify-content: center;
  top: 15px;
}

}
